
SRP/.vs/ProjectEvaluation/srp.metadata.v5.2
SRP/.vs/ProjectEvaluation/srp.projects.v5.2
SRP/.vs/SRP/DesignTimeBuild/.dtbcache.v2
SRP/.vs/SRP/v17/.futdcache.v2
SRP/.vs/SRP/v17/.suo
SRP/.vs/SRP/v17/.suo
SRP/.vs/SRP/v17/.suo
